body[b-g4dd7fnjmr] {
}

.grid[b-g4dd7fnjmr] {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    width: 85rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .col-title {
    text-transform: uppercase;
    margin-bottom: .2rem;
    font-weight: bold;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] button.col-title:hover, [b-g4dd7fnjmr] .quickgrid[theme=corporate] .col-options-button:hover {
    background-color: rgba(128,128,128,0.9);
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] tr, [b-g4dd7fnjmr] .quickgrid[theme=corporate] td, [b-g4dd7fnjmr] .quickgrid[theme=corporate] th {
    border-width: 1px;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .pedido {
    width: 60rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .impresso {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .troca {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .cliente {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .nome {
    width: 60rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .endereco {
    width: 60rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .numero {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .complemento {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .transportadora {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

[b-g4dd7fnjmr] .quickgrid[theme=corporate] .metodo {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
